/*========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

/*========== Reset CSS ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

/*========== Main CSS ==========*/
body {
	background: url('../img/background.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: auto;
}
header {
	position: relative;
	background: url('../img/header_bg.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 110vh;
	font-family: 'Roboto', sans-serif;
}
header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	background: #000;
	filter: blur(40px);
}
header .logo {
	margin: 87px 0 110px;
}
header .say_yes h1 {
	font-size: 48px;
	color: #fff;
	margin-bottom: 25px;
}
header .say_yes p {
	font-size: 24px;
	color: #fff;
	margin-bottom: 70px;
}
header .say_yes a {
	position: relative;
	text-transform: uppercase;	
	color: #fff;
	background: #3a89ff;
	padding: 20px 30px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	width: calc(100px + 15vw);
	height: calc(20px + 5vw);
	border-radius: calc(10px + 2.5vw);
	transition: 0.3s;
}
header .say_yes a:hover,
#terminal a:hover,
#payment_terminal .box a:hover {
	-webkit-box-shadow: 0px 0px 8px 3px rgba(58,137,255,0.8); 
	box-shadow: 0px 0px 8px 3px rgba(58,137,255,0.8);
}
header .abso_top {
	position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
}
header .abso_top .payment_image img {
	width: 100%;
	height: auto;
}
header .abso_top .box {
	position: absolute;
	bottom: 100px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(59,141,254,1) 0%, rgba(36,164,239,1) 40%, rgba(9,192,220,1) 80%);
	color: #fff;
	padding: 30px 50px;
	border-radius: 10px;
}
header .abso_top .box ul {
	list-style: inside;
}
header .abso_top .box ul li {
	margin: 20px 0;
	font-size: 24px;
}
#payment {
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin: 300px 0 100px;
}
#payment h2 {
	font-size: 40px;
	margin-bottom: 30px;
}
#payment .box_pos {
    display: flex;
    align-items: center;
}
#payment .box_pos img {
	width: 100%;
	max-width: 180px;
	height: auto;
}
#payment .text h3 {
	font-size: 24px;
	color: #373838;
	margin-bottom: 10px;
}
#payment .text p {
	font-size: 18px;
	font-weight: bold;
	color: #2e3131;
}
#terminal {
	font-family: 'Roboto', sans-serif;
	background: url('../img/terminal.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 120px 0 130px;
}
#terminal h2 {
	color: #fff;
	font-size: 40px;
	margin-bottom: 55px;
}
#terminal a {
	position: relative;
	text-transform: uppercase;	
	color: #fff;
	font-size: 16px;
	background: #3a89ff;
	padding: 20px 80px;
	font-weight: bold;
	letter-spacing: 1px;
	width: calc(100px + 15vw);
	height: calc(20px + 5vw);
	border-radius: calc(10px + 2.5vw);
	transition: 0.3s;
}
#payment_terminal {
	position: relative;
	font-family: 'Roboto', sans-serif;
	padding: 150px 0;
}
#payment_terminal .tooltips {
	position: relative;
}
#payment_terminal .tooltips .custom_tooltip {
	position: absolute;
    top: -80px;
    left: 0;
    background: #fff;
    width: 310px;
    height: 110px;
    border: 2px solid #3a89ff;
    border-radius: 5px;
    right: 0;
    padding: 10px 20px;
    text-align: left;
    z-index: 2;
}
#payment_terminal .tooltips .custom_tooltip:before {
    content: '';
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 21px 0 21px;
    border-color: #3a89ff transparent transparent transparent;
    margin: 0 auto;
    z-index: 1;
}
#payment_terminal .tooltips .custom_tooltip h4 {
	font-size: 18px;
	font-weight: bold;
	color: #038df8;
}
#payment_terminal .tooltips .custom_tooltip p {
	font-size: 16px;
	color: #373838;
	text-align: left;
	margin: 8px 0;
}
#payment_terminal .payment_brands {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	vertical-align: top;
}
#payment_terminal .payment_brands img {
	margin-right: 10px;
}
#payment_terminal .box h2 {
	font-size: 40px;
}
#payment_terminal .box h3 {
	font-size: 24px;
	color: #333;
}
#payment_terminal .box img {
    width: 100%;
    max-width: 210px;
    height: 300px;
    display: block;
    margin: 0 auto 30px;
    margin-top: 30px;
}
#payment_terminal .box p {
	font-size: 16px;
	margin: 25px 0 60px;
	line-height: 22px;
	text-align: center;
}
#payment_terminal .box a {
	position: relative;
	text-transform: uppercase;	
	color: #fff;
	font-size: 16px;
	background: #3a89ff;
	padding: 20px 80px;
	font-weight: bold;
	letter-spacing: 1px;
	width: calc(100px + 15vw);
	height: calc(20px + 5vw);
	border-radius: calc(10px + 2.5vw);
	transition: 0.3s;
}
.customers_slider h2 {
	margin-top: 130px;
	margin-bottom: 55px;
	font-size: 40px;
}
/*payment_terminal_bg*/

article {
	position: relative;
	border: 1px solid #e1e1e1;
	background: #fff;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}
article .box_article {
	padding: 40px 0 50px 30px;
}
article .box_article h2 {
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: bold;
	margin: 0;
}
article .box_article h3 {
	margin-top: 10px;
	font-size: 16px;
}
article .box_article p {
	padding-top: 40px;
    font-size: 13px;
    width: 100%;
    max-width: 300px;
    line-height: 20px;
}
.video-container {
	width: 100%;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 8px 20px rgba(black, 0.4);
}
.video-container video {
	width: 100%;
	height: 100%;
	max-width: 530px;
	border-radius: 4px;
}
.play-button-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	pointer-events: none;
}
#circle-play-b {
	cursor: pointer;
	pointer-events: auto;
}
svg {
	width: 100px;
	height: 100px;
	fill: #fff;
	stroke: #fff;
	cursor: pointer;
	background-color: rgba(black, 0.2);
	border-radius: 50%;
	opacity: 0.9;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-theme .owl-dots .owl-dot span {
	width: 13px;
	height: 13px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #177df3;
}

footer {
	position: relative;
	background: #363636;
	padding: 40px 0 215px;
	font-family: 'Roboto', sans-serif;
}
footer .footer_logo img {
	margin-bottom: 30px;
}
footer .footer_logo ul {
	margin-top: 30px;
}
footer .footer_logo ul li {
	display: inline-block;
	margin-right: 20px;
}
footer .footer_logo ul li a {
	position: relative;
	font-size: 14px;
	color: #cfcfcf;
}
footer .footer_logo ul li a:before,
footer .all_right p a:before,
footer .footer_logo p a:before {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0px;
	right: 0;
	width: 0%;
	height: 1px;
	background: #cfcfcf;
	transition: 0.3s;
}
footer .footer_logo ul li a:hover:before,
footer .all_right p a:hover:before,
footer .footer_logo p a:hover:before {
	width: 100%;
}
footer .footer_logo ul li a i {
	font-size: 12px; 
	margin-right: 2px;
	color: #048ef8;
}
footer hr {
	border: 1px solid #959595;
	margin: 30px auto;
	width: 100%;
	max-width: 720px;
}
footer .all_right p,
footer .footer_logo p {
	text-align: center;
	color: #cfcfcf;
	font-size: 14px;
	line-height: 20px;
}
footer .all_right p a,
footer .footer_logo p a {
	position: relative;
	color: #048ef8;
}


/*Responsive design*/
@media only screen and (max-width: 1200px) {
	#payment_terminal .payment_brands img {
		margin-right: 0;
	}
}
@media only screen and (max-width: 992px) {
	#payment {
		margin-top: 250px;
	}
	#payment .box_pos {
		display: block;
		text-align: center;
	}
	#payment_terminal .tooltips .custom_tooltip {
		display: none;
	}
	#payment_terminal .box {
		text-align: center;
		margin-bottom: 50px;
	}
	#payment_terminal {
		padding: 50px 0;
	}
	#payment_terminal .box img {
		height: auto;
	}
	#payment_terminal .payment_brands {
		margin-top: 30px;
		display: inline-block;
	}
	#payment_terminal .payment_brands img {
		margin: 0;
		padding: 10px;
	}
	header .abso_top .box {
		padding: 20px 30px;
	}
}
@media only screen and (max-width: 768px) {
	header .abso_top .box {
	    left: 0;
	    right: 0;
	    width: 100%;
	    max-width: 400px;
	    margin: 0 auto;
	}
	header .payment_image {
		text-align: center;
	}
	header .payment_image img {
		max-width: 300px;
	}
	header .abso_top {
		left: 15px;
		right: 15px;
	}
	#payment h2,
	#terminal h2,
	#payment_terminal .box h2,
	.customers_slider h2 {
		font-size: 30px;
	}
	#payment_terminal .box a,
	#terminal a,
	header .say_yes a {
		padding: 20px 30px;
	}
}
@media only screen and (max-width: 500px) {
	.customers_slider h2 {
		margin-top: 30px;
	}
	header .abso_top .box ul li {
		font-size: 18px;
	}
}